:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --calc-height: calc(100vh - 40px);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow-x:hidden;
}

.container {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  min-height: var(--calc-height);
  width: 100vw;
  max-width: 100%;
}

.cm-theme {
  flex-grow: 1;
}

.cm-theme:first-child {
  border-right: 1px solid #0f0f0f;
}

.cm-editor{
  word-break: break-word;
  min-height: 100%;
}

.status-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background: #0a3069;
  width: 100%;
  display: flex;
  z-index: 1;
}

.status-bar-elements {
  flex-grow: 1;
}

.status-bar-status-text {
  text-align: right;;
}
