:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --calc-height: calc(100vh - 40px);
}

body {
  height: var(--calc-height);
  margin: 0;
}

/*.CodeMirror, .cm-theme, .cm-editor {*/
/*    pointer-events: none;*/
/*}*/

.container {
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  min-height: var(--calc-height);
}

.cm-theme {
  flex-grow: 1;
}

.cm-theme:first-child {
  border-right: 1px solid #0f0f0f;
}

.cm-editor{
  flex-grow: 1;
  word-break: break-word;
  min-height: 100%;
  min-width: 45vw;
}

.status-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background: #0a3069;
  width: calc(100% - 20px);
  display: flex;
  z-index: 1;
}

.status-bar-elements {
  flex-grow: 1;
}

.status-bar-status-text {
  text-align: right;;
}

.status-bar-binary-input input{
  min-width: 100%;
}

h1 {
  text-align: center;
}

input,
textarea,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
textarea,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #161a22;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  textarea,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
