:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --calc-height: calc(100vh - 51px);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
}

.titlebar {
  height: 50px;
  background: transparent;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: calc(100vw - 60px);
}

.container {
  margin: 51px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  justify-content: left;
  text-align: left;
  min-height: var(--calc-height);
  width: 100vw;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.cm-theme {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  flex-grow: 1;
  min-width: 40vw;
  min-height: var(--calc-height);
  white-space: pre-wrap;
}

.cm-theme:first-child {
  border-right: 1px solid #0f0f0f;
}

.cm-editor {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  height: var(--calc-height);
  white-space: pre-wrap;
}

.status-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background: #3b3859;
  width: 100vw;
  z-index: 1;
}
